<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bapplusplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_temp2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_temp2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FavoritesListActivity"></activity>
        <activity android:name=".BottomNaviActivity" />
        <activity android:name=".ShowMapActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="dxvjacpwa0" />
    </application>

</manifest>